footer {
  background-color: $main-background-color;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-page-color;
}

.footer-contacts-link {
  display: block;
  letter-spacing: 0.03em;
  color: $footer-link-color;
  line-height: 1.7;
}

.social-footer__title,
.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-page-color;
  margin-bottom: 20px;
}

.social-list-footer {
  padding: 0;
}

.social__link-footer {
  background-color: $footer-social-color;
}

.social__icon-footer {
  fill: $secondary-page-color;
}
